<%- include('./partials/header')%>
<%- include('./partials/flash')%>
<style>
body{
    background-image: url('https://freefrontend.com/assets/img/html-css-404-page-templates/404-SVG-Animated-Page-Concept.png');
    background-size: cover;
    background-repeat:no-repeat;
}
</style>
    <h2 class="text-center">Not Found</h2> 

    <div class="text-center" style="height:90vh">
        <a href="/products" class="btn btn-lg btn-dark">Back to the main page <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
